  * {
    margin: 0;
    padding: 0;
  }

  html {
  font: normal 24px Helvetica, Arial, sans-serif;
  background-color: white;
  color: black;
}

h1 {
  background-color: blue;
  color: white;
}

header {
  padding: 1rem;
  text-align: center;
  background-color: blue;
}

nav {
  background-color: cyan;
}

 nav ul {
  display: flex;
 }

ul {
  list-style-type: none;
}

li {
  text-align: center;
  width: 20%;
}

 main {
  display: flex;
 }

a {
  box-sizing: border-box;
  display: inline-block;
  padding: 1rem 0;
  text-decoration: none;
  width: 100%;
}

a:focus,
a:hover {
  background-color: blue;
  color: yellow;
}

article,
aside {
  padding: 0 1rem;
}

article {
  flex: 2;
}

aside {
  background-color: lightgreen;
  flex: 1;
}

p {
  margin: 1rem 0;
}

footer {
  background-color: yellow;
  display: flex;
  justify-content: space-between;
  flex-flow: row-reverse;
  align-items: center;
}

#copyright {
  margin: 0 1rem;
  display: flex;
}

#copyright p {
  align-items: center;
  justify-content: center;
}

#logo {
  background-color: orange;
}

img {
  width: 400px;
  display: block;
}
